{% extends "theme/base.html" %}
{% load myfilters %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="flex flex-row justify-center items-center">
    <div class="flex flex-col min-h-screen justify-center items-center place-content-between">
        <div class="basis-1/8">MuniWiki</div>
        <form 
         action="{% url 'wikiapp:login' %}"
         method="post"
         class="flex flex-col basis-64 place-content-evenly border rounded-md">
            <div class="text-center center-content">Sign In</div> 
            {% csrf_token %}
            {{form}}
            <button class="rounded-full basis-1/8 bg-yellow-500">Login</button>
        </form>
    </div>
</div>
{% endblock %}
