<!-- if x-data is not provided, x-ref doesn't work -->
<div>
    <!-- Modal body -->
    <form hx-post="{{request.path}}" hx-swap="delete" hx-target="this" id="section-modal" x-ref="sectionModal"
        class="bg-white rounded-lg shadow-sm dark:bg-gray-700" tabindex="-1" x-data="{}">
        <div
            class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                Enter a new child section
            </h3>
        </div>
        {% csrf_token %}
        {{form}}
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Submit</button>
        <button @click="$refs.sectionModal.remove()"
            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full">Cancel</button>
    </form>
</div>