{% load myfilters %}
<div class="flex flex-col text-md section" id="sec_{{sec.id}}" x-data="{open: false}">
    <div class="flex flex-row" :class="sectionSelected && currentSectionId === {{sec.id}} && selectedclasses">
        <button @click="open = !open; currentSectionId = {{sec.id}}; sectionSelected = true" 
         class="flex basis-3/4">
            <i class="fa-solid" :class="open ? 'fa-caret-down' : 'fa-caret-right'"></i>
            <span class="pl-4">
                {{sec.name}}
            </span>
        </button>

        <div class="h-200 flex flex-row justify-evenly basis-1/4" x-show="sectionSelected && currentSectionId === {{sec.id}}">
            {% if user.can_write_main_section %}

            {% url 'core:modal_archive' sec.id as modal_arch_url %}
            {% btn_get modal_arch_url "#pivot-section" "click" as arch_attrs %}
            {% include "core/button/simple_button.html" with add_attrs=arch_attrs button_class="fa-solid fa-file" %}

            {% url 'core:modal_section' sec.id as modal_sec_url %}
            {% btn_get modal_sec_url "#pivot-section" "click" as sec_attrs %}
            {% include "core/button/simple_button.html" with add_attrs=sec_attrs button_class="fa-solid fa-plus"%}

            {% url 'core:section' sec.id as sec_url %}
            {% btn_delete sec_url "closest .section" "click" "delete" as del_sec_attrs %}
            {% include "core/button/simple_button.html" with add_attrs=del_sec_attrs button_class="fa-solid fa-xmark" add_class="bg-red-500 hover:bg-red-800" %}

            {% endif %}
        </div>
    </div>
    <div class="pl-4 children transition-opacity delay-150 duration-300 ease-in-out" x-show="open" x-transition>
        {% include "core/section_view.html" with root_id=sec.id  secmap=secmap archmap=archmap %}
    </div>
</div>
