<ul>
    {% for sec in sections %}
    <li>
        <div hx-trigger="click"
             hx-get="{% url 'core:section' sec.id %}"
             hx-swap="afterend">


            {{sec.name}}

            <button hx-get="">
                +File
            </button>

            <button>
                +Folder
            </button>
        </div>

        <ul>
            {% for arch in sec.archives.all %}
            <li>
                <div>
                    <button>{{arch.name}}</button>
                    <button>X</button>
                </div>
            </li>
            {% endfor %}
        </ul>
    </li>

    {% endfor %}
</ul>

