{% extends "wikiapp/navbar.html" %}

{% block page_content %}
<div class="flex justify-center bg-blue-500" >
    <form hx-post="{{request.path}}" class="border border-solid border-black rounded-lg">
        <div>
            <h1 class="border border-solid border-black rounded-lg text-lg bg-green">Perfil Usuario</h1>
        </div>

        {% csrf_token %}
        {{form}}
        <button @click="$refs.sectionFormId.value = currentSectionId"
            class="bg-green-300 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-full">Submit</button>
        <button @click="$refs.sectionModal.remove()"
            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full">Cancel</button>
    </form>
</div>
{% endblock %}
