{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>{% block title %} Generic Title {% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="{% static 'js/htmx.min.js' %}" defer></script>
	<script src="{% static 'js/alpine.min.js' %}" defer></script>
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
	{% tailwind_css %}
</head>

<body class="bg-gray-50 font-serif leading-normal 
      tracking-normal bg-[url({% static 'photos/monumento.jpg' %})]"
      style="font-family: Roboto"
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

	<div class="container mx-auto">
		{% block content %}
		{% endblock %}
	</div>
</body>
{% block scripts %}
{% endblock %}
</html>
